{% extends "layout.html" %}
{% block title %}SignUp{% endblock title %}    
{% block content %}
    <div class="signup-login">
        <div class="signup-box">
            <form method="POST">
                {% csrf_token %}
                <div class="heading">
                    Login
                </div>
                <div class="line"></div>
                <div class="field">
                    <b>Username</b>
                    <input type="text" name="fnm" required class="inp">
                </div>
                <div class="field">
                    <b>Password</b>
                    <input type="password" name="pwd" required="" class="inp">
                </div>
                <div class="field">
                    <input type="submit" value="Login" class="submit-button">
                </div>
            </form>
            <div class="field">
                <b style="margin-left:130px;">Don't have an account?</b>
                <br>
                <a href="signup" class="anc"></a>
            </div>
        </div>
    </div>
{% endblock content %}